header{
    display: flex;
    justify-content: space-between;
    background-color: #054f77;
    padding: 30px;
}

button{
    background-color: #ddd;
    border-radius: 300px;
    padding: 10px 20px;
    width: 100px;
    border: none;
    color: black;
}

nav{
    display: flex;
    gap: 15px;
}

.a_menu{
    text-decoration: none;
    color: black;
}

.logoWhite{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #05354e;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex: 1;
}

.bgWhite{
    display: flex;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 70%;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid #054f77;
    border-radius: 25px;
    margin: 0 auto;
    width: 50%;
    height: 75%;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formImc{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
}

.centralizaImc{
    display: flex;
    justify-content: center;
    width: 100%;
}

